

.navbar-container{

    /* background-color: red; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    
    
}

.logo{
    /* background-color: green; */
    position: relative;
    left: 5%;
   
    
}
.logo-img{
    /* background-color: green; */
    width: 90px;
    height: 30px;
   
    
}

 

.grow-list{
    /* background-color: khaki; */
    position: relative;
    left: 2%;
}
.list-item{
    color: #939090;
}
.home{
    font-weight: bold;
    color: black;
}
.list{
    /* background-color: green; */
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
     width: 500px;
}

.button-group{
     position: absolute;
     right: 10%;
     /* background-color: blue; */
}

.nav-button{
    background-color:#5955b3;
    height: 40px;
    width: 120px;
    border: 0cap;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

/* Banner */


.left-text{
   height: 25rem;
    width: 25rem;
    /* background-color: blue; */
    position: absolute;
    left: 5%;
    top: 30%;
    text-align: left;
   font-family: TT Hoves Pro Variable, sans-serif; 
}
.illustration-img{
    position: absolute;
    right: 0%;
    top: 15%;
    height: 90%;
    width: 50rem;
}


.btn{
    width: 150px;
    /* font-size: 12px; */
    /* background-color: white; */
    /* padding-top: 10%; */
    position: absolute;
    bottom: 10%;
}
.font{
    font-family: TT Hoves Pro Variable, sans-serif;
}


.heading-text{
    font-size: 65px;
    /* background-color: magenta; */
    margin: 0%;
    color: #3c2f60;
}

span{
    color: #5955b3;
}
.description{
    /* background-color: lawngreen; */
    padding: top 0; 
    font-size: small;
    color: #939090;
}