
*{
    margin: 0;
    border: none;
    padding: 0;
}

.navbar-container{

    
    display: flex;
    
    align-items: center;
    margin-top: 1.5rem;
    
    
}

.logo{
   
    margin-left: 5rem ;
    
   
    
}
.logo-img{
  
    width: 90px;
    height: 30px;
   
    
}

 


.list-item{
    color: #939090;
}
.home{
    font-weight: 700;
    color: black;
}
.list{
    
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
     width: 500px;
    
}

.button-group{
   
     margin-left: 25rem;
}

.nav-button{
    background-color:#5955b3;
    height: 40px;
    width: 120px;
 
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
}

/* Banner */

.banner-container{
    display: flex;
    
}
.left-text{
   height: 400px;
    width: 500px;
    
    text-align: left;
   
    margin: 5rem 0rem 0rem 5rem;
  
}
.illustration-img{
    

    margin: 2.5rem 0rem 0rem 4rem;
    height: 550px;
    width: 700px;
}


.btn{
    background-color:#5955b3;
    width: 150px;
    margin-top: 4rem;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
.font{
    font-family: TT Hoves Pro Variable, sans-serif;
}


.heading-text{
    font-size: 65px;
    color: #3c2f60;
}

span{
    color: #5955b3;
}
.description{

    margin-top: 1rem;
    font-size: 0.8rem;
    color: #939090;
}